@import 'variables';

html, body { width:100%; height:100%; padding:0; margin:0; }

html { font-size: 62.5%; }
body { font-size: 1.3em; position: relative; font-family: sans-serif; color: $standard-font-color; }

#react-container { height: 100%; overflow: hidden; }

.app { height: 100%; display: flex; flex-direction: row; position: relative;}

.search-container { border-right: 1px solid $standard-grey; padding: $standard-padding; flex: 0 0 85px; overflow: hidden; color: #fff; background: $dark-background; line-height: 20px;
	.search-type-label,
	.search-box-label { font-weight: bold; display: block; }
	.search-box { width: 80px; margin-bottom: $standard-margin; }
	.radio-button-group { overflow: hidden;
		input { float:left; clear: left; }
		label { float:left; }
	}
}

.result-list-container { flex: 1; display: flex; flex-direction: column;
	ul.result-list { list-style-type: none; display: flex; flex-wrap: wrap; padding: 0; margin: 0; flex: 1; overflow: auto;
		li.result-list-item { flex: 0 0 calc(25% - 16px); margin: $standard-margin; padding: $standard-padding 0; box-shadow: $standard-shadow;
			.item-contents { display: block; padding: 0 $standard-padding; position: relative;
				
                .movie-vote { position: absolute; top: -$standard-padding; left: 0; color: $standard-grey; opacity: 0.5; font-size: 8em; font-weight: bold; } 
                .movie-title { font-size: 1.4em; margin: 0; }
                .movie-release-date { font-style: italic; }
				.movie-overview { display: block; margin-bottom: 0; }

				.tv-vote { position: absolute; top: -$standard-padding; left: 0; color: $standard-grey; opacity: 0.5; font-size: 8em; font-weight: bold; } 
				.tv-name { font-size: 1.2em; margin: 0; }
				.tv-overview { display: block; margin-bottom: 0; }

				.person-name { font-size: 1.2em; margin: 0; }
				.person-known-for { display: block; padding: 5px 5px 5px 15px; clear: both; }

                img { float: right; margin: 0 0 0 4px; width: 92px; height: 138px; overflow: hidden; }
			}
			&:hover { box-shadow: $highlight-shadow; }
		}
	}
	.result-list-empty { display: block; text-align:center; line-height: 100px; font-size: 2em; }

	.pagination { overflow: hidden; line-height: 20px; margin: $standard-margin; flex: 0 1 auto; 
		ul.pages { list-style-type: none; padding: 0; float: left; margin: 0;
			li { display: inline-block; cursor: pointer; padding: 0 5px; border-right: 1px solid $dark-background;
				&.active { background: $dark-background; color: #fff; }
				&:hover { background: rgba(0,0,0,0.2); }
				&:last-child { border: 0; }
			}
		}
		span { float: right; margin-right: 5px; padding-right: 5px;
			&.total-items { border-left: 1px solid $dark-background; margin-left: 1px; padding-left: 5px; }
			&.total-pages { margin: 0; }
		}
	}
}


/************** Small Screens *********/
@media only screen 
and (max-width : 900px) {
	div.result-list-container ul.result-list li.result-list-item { flex: 0 0 calc(50% - 16px); }
}

/************** Extra Small Screens *********/
@media only screen 
and (max-width : 600px) {
	div.result-list-container ul.result-list li.result-list-item { flex: 0 0 calc(100%); }
}