$standard-font-color: #333;
$standard-border-color: rgba(0,0,0,0.4);
$standard-shadow: 0 0 10px rgba(0,0,0,0.1);
$standard-padding: 8px;
$standard-margin: 8px;
$standard-grey: rgba(0,0,0,0.2);

$highlight-shadow: 0 0 10px rgba(0,0,0,0.4);
$highlight-grey: rgba(0,0,0,0.4);

$dark-background: #0B1C24;